{% extends 'base.html' %}
{% block title %}LogIn{% endblock title %}
{% block body %}


<!-- ======= LogIn Section ======= -->
<section class="m-5">
    <div class="w-75 row mx-auto shadow login">
        <div class="col-6 m-0 p-0 overflow-hidden h-100">
            <img class="w-100" src="static/img/pexels-karolina-grabowska-7876754.jpg" />
        </div>
        <div class="col-6 p-5 d-flex flex-column justify-content-center">
            <h1 class="text-center mb-5 fs-1">Login</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="email" class="form-control" placeholder="Enter Email" name="username" id="username" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</section><!-- End Log In Section -->
{% endblock body %}