{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block body %}

<section class="m-5">
    <div class="w-75 row mx-auto shadow register">
        <div class="col-6 m-0 p-0 h-100 overflow-hidden">
            <img class="w-100" src="static/img/pexels-mikhail-nilov-6592680.jpg" />
        </div>
        <div class="col-6 p-5 d-flex flex-column justify-content-center">
            <h1 class="text-center mb-5 fs-1">Registration Form</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">First Name</span>
                    <input type="text" class="form-control" placeholder="Enter Firstname" name="fname" id="fname" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Last Name</span>
                    <input type="text" class="form-control" placeholder="Enter Lastname" name="lname" id="lname" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="email" class="form-control" placeholder="Enter email" name="username" id="username" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="Enter password" name="password" id="password" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Re-enter Password</span>
                    <input type="password" class="form-control" placeholder="Renter password" name="password1" id="password1" aria-label="Username"
                        aria-describedby="basic-addon1" required />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock body %}